@font-face {
  font-family: garetBook;
  src: url(./fonts/Fontspring.otf);
}

@font-face {
  font-family: garetHeavy;
  src: url(./fonts/Fontspring4.otf);
}

@font-face {
  font-family: Blanka;
  src: url(./fonts/base2line.otf);
}